.analytics__navigation {
    margin: 40px 0 0 104px;
    padding: 0;
}

@media (min-width: 768px) and (max-width: 1279px) {
    .analytics__navigation {
        margin: 32px 0 0 40px;
        padding: 0;
    }
}