.user-info__edit {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 38px;
    height: 18px;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
    text-align: center;
    margin: 28px 0 0 0;
    align-items: center;
    display: block;
}

@media screen and (max-width: 980px) {
    .user-info__edit {
        margin: 20px auto 0;
    }
}