.chart__content {
    margin: 8px 104px 56px;
    display: flex;
    max-width: 1128px;
    position: relative;
}

.chart__content_date {
    font-size: 18px;
}

.chart__content_value {
    position: absolute;
    margin-left: 104px;
    color: #FFFFFF;
    background: #2F71E5;
    height: 24px;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
}

.content_value-numeric {
    margin-left: 6px;
}

.content_value-15 {
    width: 15%;
}

.content_value-18 {
    width: 18%;
}

.content_value-11 {
    width: 11%;
}

.content_value-39 {
    width: 39%;
}

.content_value-45 {
    width: 45%;
}

.content_value-73 {
    width: 73%;
}

.content_value-34 {
    width: 34%;
}