.popup2__input {
  width: 100%;
  border: 0;
  min-height: 42px;
  max-height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
}
.input {
  height: 99px;
}

.error-message {
  color: red;
  font-size: 12px;
  line-height: 15px;
  transition: .3s;
  padding: 0px;
  opacity: 0;
}

.input-container__invalid .error-message {
  opacity: 1;
}

.input-container__invalid .input__text {
  border-color: #FF3333;
}

.success-message {
  color: #23b324;
  padding: 10px;
  transition: .3s;
  opacity: 0;
}

.success-message__visible {
  opacity: 1;
}

