.news__header {
    display: flex;
    padding-top: 80px;
    margin-left: 104px;
    margin-right: 112px;
    justify-content: space-between;
    }
.news__header_name {
    font-size: 40px;
    line-height: 46px;
    font-family: Roboto Slab;
}
.news__header_link {
    font-size: 18px;
    line-height: 24px;
    padding-top: 14px;
    font-family: Robotomedium;
    text-decoration: none;
    color: black;
}