@import url('../about/about__image/about__image.css');
@import url('../about/about__text/about__text.css');
.about {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
    width: 90%;
}

@media (min-width: 320px) and (max-width: 767px) {
    .about {
        flex-wrap: wrap;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .about {
        flex-wrap: nowrap;
        margin-bottom: 66px;
    }
}

@media (min-width: 1280px) and (max-width: 1439px) {
    .about {
        flex-wrap: nowrap;
        margin-bottom: 66px;
    }
}