@import url('../news/news__button/news__button.css');
@import url('../news/news__cards/news__cards.css');
@import url('../news/card/card.css');
@import url('../news/news__header/news__header.css');
.news {
  background: #f5f6f7;
  padding-bottom: 44px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .news {
    padding-bottom: 40px;
  }
}