.news__header {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    margin-left: 104px;
    margin-right: 112px;
    justify-content: space-between;
}

.news__header-name {
    font-size: 40px;
    line-height: 46px;
    font-family: Roboto Slab;
    font-weight: normal;
    margin: 0;
}

.news__header-link {
    font-size: 18px;
    line-height: 24px;
    padding-top: 14px;
    font-family: Robotomedium;
    text-decoration: none;
    color: black;
}
.news__header-link:hover {
    color: rgb(102, 102, 102);
}
.news__header-arrow {
    margin-left: 10.29px;
    width: 8.12px;
    height: 13.41px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .news__header {
        padding-top: 32px;
        margin-left: 16px;
        width: 90%;
    }
    .news__header_name {
        font-size: 30px;
        line-height: 34px;
        margin: 0;
    }
    .news__header_link {
        padding-top: 16.26px;
    }
    .news__header-arrow {
        margin-left: 7.29px;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .news__header {
        padding-top: 40px;
        margin-left: 40px;
        width: 90%;
    }
    .news__header-name {
        font-size: 30px;
        line-height: 34px;
    }
}

@media (min-width: 1280px) and (max-width: 1439px) {
    .news__header {
        padding-top: 40px;
        margin-left: 40px;
        width: 90%;
    }
    .news__header_name {
        font-size: 30px;
        line-height: 34px;
    }
}