.analytics__list {
    margin: 40px 0 0 104px;
    padding: 0;
}

.list__item {
    margin: 0;
    display: inline-block;
}

.list__title {
    font-size: 18px;
    line-height: 24px;
    font-family: Roboto;
    text-decoration: none;
    display: flex;
    color: #1A1B22;
}

.uncolored {
    color: #B6BCBF;
}

.digitalResult {
    font-weight: bold;
}

@media (min-width: 320px) and (max-width: 767px) {
    .list__item {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .list__subtitle {
        font-size: 32px;
        line-height: 34px;
        margin: 64px 0 20px 40px;
    }
    .analytics__list {
        margin: 32px 0 0 40px;
        padding: 0;
    }
}