@media (min-width: 320px) and (max-width: 767px)  {
    .main {
        height: 536px;
        background-image: url('../../images/header-image320.png');
        background-position: center;
    }
    .main__header {
        min-width: 320px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .main__header_name {
        font-size: 16px;
        margin-left: 16px;
        width: 0;
    }
    .main__header_link {
        font-size: 16px;
        margin-right: 14px;
        height: 24px;
    }
    .link-selected {
        height: 40px;
    }
    .main__title {
        margin: 0px auto;
        font-size: 36px;
        line-height: 40px;
        width: min-content;
        min-width: 285px;
    }
    .main__subtitle {
        margin: 0 auto;
        font-size: 20px;
        line-height: 26px;
        width: 288px;
    }
    .main__search {
        margin: 24px auto;
        width: max-content;
    }
    .main__search_input {
        width: 0;
        height: 56px;
        padding: 0 24px;
    }
    .main__search_button {
        width: 0;
        height: 56px;
        min-width: 288px;
        margin: 0;
        margin-top: 16px;
    }
    .preloader__subtitle {
        width: inherit;
    }
    .news__header {
        padding-top: 32px;
        margin-left: 16px;
        width: 90%;
    }
    .news__header_name {
        font-size: 30px;
        line-height: 34px;
    }
    .news__content {
        margin: 40px auto 0;
        width: 90%;
    }
    .news__content_card {
        margin: 0 auto 13px;
    }
    .news__content_card-date {
        font-size: 18px;
        line-height: 24px;
    }
    .news__content_card-title {
        font-size: 22px;
        line-height: 26px;
    }
    .news__content_card-subtitle {
        font-size: 16px;
    }
    .news__button {
        height: 56px;
        margin: 13px auto;
        display: block;
    }
    .about {
        flex-wrap: wrap;
    }
    .about__image {
        margin: 20px auto;
    }
    .about__text {
        margin: auto;
    }
    .about__text_title {
        font-size: 30px;
        line-height: 40px;
    }
    .footer {
        margin: 26px auto 0;
    }
    .footer__navigation {
        width: min-content;
        flex-wrap: wrap-reverse;
    }
    .footer__copyright {
        margin: 40px auto 22px;
    }
    .footer__info {
        margin: 0 auto;
        width: auto;
        flex-direction: column;
        height: 120px;
    }
    .footer__social {
        margin-left: auto;
        margin-bottom: auto;
    }
}