.chart__content {
    margin: 8px 104px 56px;
    display: flex;
    max-width: 1128px;
    position: relative;
}

.chart__content-date {
    font-size: 18px;
}

.chart__content-value {
    position: absolute;
    margin-left: 104px;
    color: #FFFFFF;
    background: #2F71E5;
    height: 24px;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
}

.content-value {
    margin-left: 6px;
}

.content-value_15 {
    width: 15%;
}

.content-value_18 {
    width: 18%;
}

.content-value_11 {
    width: 11%;
}

.content-value_39 {
    width: 39%;
}

.content-value_45 {
    width: 45%;
}

.content-value_73 {
    width: 73%;
}

.content-value_34 {
    width: 34%;
}