.footer__info {
    margin-left: 240px;
    justify-content: space-between;
    display: flex;
    width: 400px;
}

.footer__info_link {
    font-size: 18px;
    line-height: 24px;
    text-decoration-line: none;
    color: black;
}