.commit-card__date {
    height: max-content;
    margin-top: 24px;
    margin-left: 24px;
    font-size: 14px;
    line-height: 22px;
    color: #b6bcbf;
}

@media (min-width: 320px) and (max-width: 767px) {
    .commit-card__date {
        margin-top: 16px;
        margin-left: 16px;
    }
}