@import url('../commitHistory/commitHistory__header/commitHistory__header.css');
@import url('../commitHistory/commitHistory__slaider/commitHistory__slaider.css');
.commitHistory {
    background: #F5F6F7;
    position: relative;
    height: 100%;
    flex-wrap: wrap;
}

@media (min-width: 320px) and (max-width: 767px) {
    .commitHistory {
        height: 568px;
    }
    .commitCard_widescreen {
        width: 336px;
        height: 242px;
    }
    .commitCard_left {
        display: none;
    }
    .commitCard_right {
        height: 242px;
        right: -408px;
    }
}