.main__title {
    display: flex;
    align-items: center;
    max-width: 594px;
    height: 128px;
    line-height: 64px;
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    margin: 80px 0 0 416px;
    font-family: Roboto Slab;
    font-weight: normal;
}

@media (min-width: 320px) and (max-width: 767px) {
    .main__title {
        margin: 30px auto 0;
        font-size: 36px;
        line-height: 40px;
        width: min-content;
        min-width: 285px;
        height: 80px;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .main__title {
        margin: 0 163px;
        font-size: 36px;
        line-height: 40px;
        width: 385px;
    }
}