.author__info {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.author__info-name {
    height: 30px;
    font-size: 26px;
    line-height: 30px;
}

.author__info-email {
    height: 22px;
    font-size: 14px;
    line-height: 22px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .author__avatar {
        width: 48px;
        height: 48px;
    }
    .author__info {
        justify-content: start;
    }
    .author__info-name {
        font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .author__avatar {
        width: 48px;
        height: 48px;
    }
    .author__info {
        justify-content: start;
    }
    .author_info-name {
        font-size: 20px;
    }
}