@import url('./__header/__header.css');
@import url('./__search/__search.css');
@import url('./__subtitle/__subtitle.css');
@import url('./__title/__title.css');

.main {
    position: relative;
    height: 100vh;
    max-height: 576px;
    width: 100%;
    background-image: url('../../../images/header-image.jpg');
    overflow: hidden;
}
