.video__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1184px;
    height: 323px;
    position: relative;
    margin-top: 72px;
}

.video__container_item {
    display: flex;
    flex-direction: column;
    width: 583px;
    height: 323px;
    border-radius: 5px;
}

.item__item-bg {
    background: #000000;
    border-radius: 5px;
    width: 583px;
    height: 323px;
    opacity: 0.5;
}

.item__icon-play {
    position: absolute;
    color: #FFFFFF;
    height: 41px;
    width: 41px;
    margin: 30px 30px 0;
}

.item__duration {
    position: absolute;
    width: 44px;
    height: 12px;
    font-family: Inter;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    margin: 165px 30px 0;
}

.item__title {
    position: absolute;
    width: 322px;
    height: 73px;
    margin: 189px 30px 0;
    font-family: Inter;
    font-size: 36px;
    line-height: 39px;
    color: #FFFFFF;
}

.item__subtitle {
    position: absolute;
    width: 174px;
    height: 13px;
    margin: 280px 30px 0;
    font-family: Inter;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
}