@import url('../preloader/__loading/preloader__loading.css');
@import url('../preloader/__result/preloader__result.css');
.preloader {
    margin: 0 auto;
    max-width: 1440px;
    background-color: #F5F6F7;
    overflow: hidden;
}
