@import url('../footer/__link/__link.css');
@import url('../footer/__copyright/__copyright.css');
.footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 1184px;
    height: 23px;
    left: 48px;
    top: 10155px;
    background-color: #2A2C2F;
}