.news__header {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    margin-left: 104px;
    margin-right: 112px;
    justify-content: space-between;
    }
.news__header-name {
    font-size: 40px;
    line-height: 46px;
    font-family: Roboto Slab;
    font-weight: normal;
    margin: 0;
}
.news__header-link {
    font-size: 18px;
    line-height: 24px;
    padding-top: 14px;
    font-family: Robotomedium;
    text-decoration: none;
    color: black;
}