.news__header {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    margin-left: 104px;
    margin-right: 112px;
    justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 767px) {
    .news__header {
        padding-top: 32px;
        margin-left: 16px;
        width: 90%;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .news__header {
        padding-top: 40px;
        margin-left: 40px;
        width: 90%;
    }
}

@media (min-width: 1280px) and (max-width: 1439px) {
    .news__header {
        padding-top: 40px;
        margin-left: 40px;
        width: 90%;
    }
}