@import url('../main/main__header/main__header.css');
@import url('../main/main__search/main__search.css');
@import url('../main/main__subtitle/main__subtitle.css');
@import url('../main/main__title/main__title.css');
.main {
    position: relative;
    height: 100vh;
    max-height: 576px;
    width: 100%;
    background-image: url('../../images/header-image.jpg');
    background-size: cover;
}

@media (min-width: 320px) and (max-width: 767px) {
    .main {
        height: 536px;
        background-image: url('../../images/header-image320.png');
        background-position: center;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .main {
        height: 400px;
    }
}