.intro__text {
    width: 383px;
    height: 93px;
    margin-top: 35px;
    font-family: Inter;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    white-space: pre-line;
}

.boldtext {
    font-weight: bold;
}