.cover__text {
    display: flex;
    flex-direction: column;
}

.cover__text_title {
    font-family: Inter;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: #FFFDFD;
    margin: 274px auto 0;
}

.cover__text_subtitle {
    max-width: 382px;
    max-height: 69px;
    font-family: Inter;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin: 134px auto 0;
}