@import url('../chart/chart__header/chart__header.css');
@import url('../chart/chart__disignation/chart__disignation.css');
@import url('../chart/chart__scale/chart__scale.css');
@import url('../chart/chart__content/chart__content.css');
.chart {
  display: grid;
  grid-template-columns: 208px auto;
  background: #F5F6F7;
  margin-top: 80px;
  padding-bottom: 80px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .chart {
    grid-template-columns: 96px auto;
    margin-top: 24px;
    padding-bottom: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .chart {
    grid-template-columns: 157px auto;
    margin-top: 40px;
    padding-bottom: 0px;
  }
}