@import url('./__circle/__circle.css');
@import url('./__text/__text.css');

 .preloader {
    margin: 0 auto;
    height: 282px;
    max-width: 1440px;
    background-color: #F5F6F7;
    overflow: hidden;
}