.video__content-title {
    position: relative;
    font-family: Inter;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: #FFFFFF;
    width: 800px;
    height: 147px;
    margin: 0;
}