@import url('../card/__date/card__date.css');
@import url('../card/__image/card__image.css');
@import url('../card/__source/card__source.css');
@import url('../card/__text/card__text.css');
@import url('../card/__title/card__title.css');
.card {
    height: 576px;
    width: 400px;
    margin-right: 10px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #FFFFFF;
    position: relative;
}

@media (min-width: 320px) and (max-width: 767px) {
    .card {
        margin: 0 auto 13px;
        height: 446.13px;
        width: min-content;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .card {
        margin: 0 auto 13px;
        width: 224px;
        height: 420px;
    }
}