@import url('../barentsburg/title/title.css');
@import url('../barentsburg/coord/coord.css');
@import url('../barentsburg/map/map.css');
@import url('../barentsburg/subscribe/subscribe.css');
.barentsburg {
    position: absolute;
    width: 1184px;
    height: 780px;
    left: 48px;
    top: 9215px;
}