@import url('../commit-history/__header/commit-history__header.css');
@import url('../commit-history/__slaider/commit-history__slaider.css');
@import url('../commit-history/__header-link/commit-history__header-link.css');
@import url('../commit-history/__header-name/commit-history__header-name.css');
.commit-history {
    background: #F5F6F7;
    position: relative;
    height: 100%;
    flex-wrap: wrap;
}

@media (min-width: 320px) and (max-width: 767px) {
    .commit-history {
        height: 568px;
    }
}