.main__search {
    margin: 64px 0 0 416px;
}

.search__input {
    border: 1px solid #D1D2D6;
    box-sizing: border-box;
    border-radius: 100px;
    width: 608px;
    min-width: 288px;
    height: 64px;
    padding: 0 192px 0 24px;
}

input.search__input::-webkit-input-placeholder {
    color: #B6BCBF;
}

input.search__input::-moz-placeholder {
    color: #B6BCBF;
}

input.search__input:-moz-placeholder {
    color: #B6BCBF;
}

input.search__input:-ms-input-placeholder {
    color: #B6BCBF;
}
.preloader {
    display: none;
}
.search__button {
    width: 168px;
    background: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    margin-left: -168px;
    height: 64px;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    border: none;
    position: absolute;
}

.search__button:hover {
    background: #347EFF;
}

.search__input:focus {
    outline: none;
}

.search__input:active {
    outline: none;
}

.search__button:focus {
    outline: none;
}

.search__button:active {
    outline: none;
}