.news__button {
    margin: 64px 576px 0;
    width: 288px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 80px;
    font-size: 18px;
    line-height: 24px;
    border: none;
    font-family: Roboto;
    font-weight: bold;
}

.news__button:hover {
    background: #FFFFFF;
    opacity: 0.9;
}

.news__button:focus {
    outline: none;
}

.news__button:active {
    outline: none;
}

@media (min-width: 320px) and (max-width: 767px) {
    .news__button {
        height: 56px;
        margin: 12.68px auto 0;
        display: block;
    }
}

@media (min-width: 1280px) and (max-width: 1439px) {
    .news__button {
        height: 56px;
        margin: 22px auto 0;
        display: block;
    }
}