@import url('.//places/__place/__place.css');
.places {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 2305px;
    left: 148px;
    width: 984px;
    height: 3362px;
}