.commitHistory__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.commitHistory__header-name {
    color: #1A1B22;
    font-size: 40px;
    line-height: 46px;
    margin: 72px 0 0 104px;
    font-family: Roboto Slab;
    width: 712px;
}
.commitHistory__header-link {
    color: #1A1B22;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    display: flex;
    margin-top: 85px;
    text-decoration-line: none;
    margin-right: 112px;
}
.commitHistory__header-link:after {
    content: ">";
}