@media (min-width: 768px) and (max-width: 1024px) {
    .main {
        height: 400px;
    }
    .header {
        max-width: 1024px;
        min-width: 768px;
        padding-top: 22px;
        padding-bottom: 18px;
    }
    .header__name {
        font-size: 16px;
        margin-left: 40px;
        width: 0;
    }
    .header__link {
        font-size: 16px;
        margin-right: 42px;
        height: 24px;
        width: 189px;
    }
    .header__link-main {
        color: #B6BCBF;
        border-bottom: none;
    }
    .header__link-about {
        height: 40px;
        color: #ffffff;
        text-decoration-line: none;
        border-bottom: 3px solid #ffffff;
    }
    .header__link_black {
        font-size: 16px;
        margin-right: 42px;
        height: 24px;
        width: 189px;
    }
    .header__link-main_black {
        color: #B6BCBF;
        border-bottom: none;
    }
    .header__link-about_black {
        height: 40px;
        color: #ffffff;
        text-decoration-line: none;
        border-bottom: 3px solid #ffffff;
    }
    .main__title {
        margin: 0 163px;
        font-size: 36px;
        line-height: 40px;
        width: 385px;
    }
    .main__subtitle {
        margin-top: 16px;
        margin-left: 163px;
        font-size: 20px;
        line-height: 26px;
        width: 452px;
    }
    .main__search {
        margin: 24px 163px;
    }
    .search__input {
        width: 437px;
        height: 56px;
    }
    .search__button {
        height: 56px;
        min-width: 160px;
    }
    .news__header {
        padding-top: 40px;
        margin-left: 40px;
        width: 90%;
    }
    .news__header-name {
        font-size: 30px;
        line-height: 34px;
    }
    .news {
        padding-bottom: 40px;
    }
    .news__content {
        margin: 40px auto 0;
        width: 90%;
        height: 422px;
    }
    .news__content-3until {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .news__content-3more {
        display: none;
    }
    .news-cards-image {
        width: 224px;
        height: 150px;
    }
    .news-cards {
        margin: 0 auto 13px;
        width: 224px;
        height: 420px;
    }
    .news-cards-date {
        margin-left: 16px;
        margin-top: 16px;
    }
    .news-cards-title {
        margin: 12px 16px 0;
        line-height: 24px;
        font-size: 22px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .news-cards-subtitle {
        margin: 10px 16px 0;
        font-size: 16px;
        line-height: 24px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    .news-cards-source {
        bottom: 16px;
        margin-left: 16px;
        margin-top: 0;
    }
    .news__button {
        height: 56px;
        margin: 32px auto 0;
        display: block;
    }
    .about__image {
        margin: 40px auto 0;
        max-width: 232px;
        max-height: 232px;
    }
    .about {
        flex-wrap: nowrap;
    }
    .about__text {
        margin: 40px auto 0;
        width: 424px;
    }
    .about__text-title {
        font-size: 30px;
        line-height: 40px;
    }
    .footer__navigation {
        flex-wrap: nowrap;
    }
    .footer__copyright {
        margin: 0;
        width: 180px;
    }
    .footer__info {
        margin-left: 0;
        width: 360px;
    }
    .footer__social {
        margin-left: 30px;
    }
    .toCustomers {
        height: max-content;
    }
    .toCustomers__header {
        min-width: 320px;
        padding-top: 16px;
        padding-bottom: 19px;
    }
    .toCustomers__header_name {
        font-size: 16px;
        margin-left: 40px;
        width: 0;
    }
    .toCustomers__header_link {
        font-size: 16px;
        margin-right: 40px;
        height: 24px;
    }
    .toCustomers_link-selected {
        height: 40px;
        margin: 0;
    }
    .toCustomers__title {
        margin: 30px 40px 0;
        font-size: 30px;
        line-height: 40px;
        min-width: 285px;
        font-weight: normal;
    }
    .toCustomers__subtitle {
        margin: 16px 40px 0;
        width: 90%;
    }
    .technologies {
        margin-top: 16px;
        height: 100%;
        padding-bottom: 52px;
    }
    .technologies__title {
        margin: 32px 40px 0;
        font-size: 30px;
        line-height: 40px;
        min-width: 285px;
        font-weight: normal;
    }
    .technologies__content {
        margin: 40px auto 0;
        width: 90%;
        justify-content: space-between;
    }
    .commitHistory__header_name {
        margin: 32px 40px 0;
        font-size: 30px;
        line-height: 40px;
        width: 50%;
        font-weight: normal;
    }
    .commitHistory__header_link {
        margin: 48px 42px 0;
    }
    .commitHistory__slider {
        margin-top: 16px;
    }
    .commitCard {
        height: 264px;
        width: 288px;
        margin: auto;
    }
    .commitCard__author_avatar {
        width: 48px;
        height: 48px;
    }
    .commitCard__author_info {
        justify-content: start;
    }
    .commitCard__author_info-name {
        font-size: 20px;
    }
    .slider__content {
        margin-left: 40px;
    }
    .slider__button-next {
        display: none;
    }
    .slider__button-prev {
        display: none;
    }
    .slider__pagination {
        margin: 16px auto;
    }
    .analytics__title {
        margin: 32px 40px 0;
    }
    .analytics_link-selected {
        color: #B6BCBF;
        font-weight: normal;
    }
    .analytics__subtitle {
        font-size: 32px;
        line-height: 34px;
        margin: 64px 0 20px 40px;
    }
    .analytics__result {
        font-size: 18px;
        line-height: 24px;
        margin: 4px 0 0 40px;
        width: 280px;
    }
    .chart {
        margin-top: 40px;
    }
    .chart__header {
        font-size: 22px;
        line-height: 30px;
        margin: 40px 0 0 40px;
    }
    .chart__designation {
        margin: 40px 0 0 40px;
        width: 90%;
    }
    .chart__scale {
        margin-left: 157px;
    }
    .chart__content {
        margin-left: 40px;
        margin-bottom: 48px;
    }
    .chart__content_value {
        margin-left: 117px;
    }
    .footer {
        height: 64px;
    }
    .footer__info {}
    .footer__social_link {
        margin: 0 0 0 25px;
    }
    .scale-bottom {
        margin-top: -32px;
        margin-bottom: 40px;
    }
}