@media (min-width: 1025px) and (max-width: 1439px) {
/*     .main {
        height: 400px;
    }
    .main__header {
        max-width: 1024px;
        min-width: 768px;
        padding-top: 22px;
        padding-bottom: 18px;
    }
    .main__header_name {
        font-size: 16px;
        margin-left: 40px;
        width: 0;
    }
    .main__header_link {
        font-size: 16px;
        margin-right: 14px;
        height: 24px;
    }
    .link-selected {
        height: 40px;
    }
    .main__title {
        margin: 0 163px;
        font-size: 36px;
        line-height: 40px;
        width: 385px;
    }
    .main__subtitle {
        margin-top: 16px;
        margin-left: 163px;
        font-size: 20px;
        line-height: 26px;
        width: 452px;
    }
    .main__search {
        margin: 24px 163px;
    }
    .main__search_input {
        width: 437px;
        height: 56px;
    }
    .main__search_button {
        height: 56px;
        min-width: 160px;
    } */
    .news__header {
        padding-top: 40px;
        margin-left: 40px;
        width: 90%;
    }
    .news__header_name {
        font-size: 30px;
        line-height: 34px;
    }
    .news__content {
        margin: 40px auto 0;
        width: 90%;
    }
    .news__content_card {
        margin: 0 auto 13px;
        width: 224px;
    }
    .news__content_card-date {
        font-size: 18px;
        line-height: 24px;
    }
    .news__content_card-title {
        font-size: 22px;
        line-height: 26px;
    }
    .news__content_card-subtitle {
        font-size: 16px;
    }
    .news__button {
        height: 56px;
        margin: 22px auto 0;
        display: block;
    }
    .about__image {
        margin: 40px auto 0;
        max-width: 232px;
        max-height: 232px;
    }
    .about {
        flex-wrap: nowrap;
    }
    .about__text {
        margin: 40px auto 0;
        width: 424px;
    }
    .about__text_title {
        font-size: 30px;
        line-height: 40px;
    }
   
    .footer__navigation {
        flex-wrap: nowrap;
    }
    .footer__copyright {
        margin: 0;
        width: 180px;
    }
    .footer__info {
        width: 360px;
    }
    .footer__social {
        margin-left: 30px;
    } 
}