@import url('./__author/__author.css');
@import url('./__date/__date.css');
@import url('./__text/__text.css');
.commitCard {
    display: flex;
    flex-direction: column;
    height: 288px;
    width: 32.3%;
    background: #FFFFFF;
    border-radius: 16px;
}
.commitCard_widescreen {
    display: flex;
    flex-direction: column;
    height: 288px;
    width: 32.3%;
    background: #FFFFFF;
    border-radius: 16px;
}

.commitCard_left {
    display: flex;
    flex-direction: column;
    height: 288px;
    width: 400px;
    background: #FFFFFF;
    border-radius: 16px;
    position: absolute;
    left: -416px;
}
.commitCard_right {
    display: flex;
    flex-direction: column;
    height: 288px;
    width: 400px;
    background: #FFFFFF;
    border-radius: 16px;
    position: absolute;
    right: -416px;
}