.news__header-link {
    font-size: 18px;
    line-height: 24px;
    padding-top: 14px;
    font-family: Robotomedium;
    text-decoration: none;
    color: black;
}

.news__header-link:hover {
    color: rgb(102, 102, 102);
}

@media (min-width: 320px) and (max-width: 767px) {
    .news__header-link {
        padding-top: 16.26px;
    }
}