@import url('./__header/__header.css');
@import url('./__title/__title.css');
@import url('./__result/__result.css');
@import url('./__subtitle/__subtitle.css');
.analytics__header {
    max-height: 80px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.2);
}

.analytics__header_name {
    color: #1A1B22;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    margin: 0 104px;
}

.analytics__header_link {
    color: #B6BCBF;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    margin-right: 50px;
    text-decoration-line: none;
}

.analytics_link-selected {
    color: #1A1B22;
    font-weight: bold;
    text-decoration-line: none;
    height: 50px;
}