@import url('../technologies/__content/__content.css');
@import url('../technologies/__title/__title.css');
.technologies {
    background: #F5F6F7;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 94px;
    height: 334px;
    flex-wrap: wrap;
}