@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    display: flex;
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #F2F2F2;
    overflow: hidden;
}

.header__title {
    display: flex;
    margin-left: 64px;
    align-items: center;
    width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: 700;
}

.header__subtitle {
    position: absolute;
    left: 64px;
    bottom: 30px;
    width: 388px;
    line-height: 25px;
    font-size: 18px;
    margin: 0;
}

.header__subtitle-link {
    margin: auto;
    text-decoration: none;
    color: #2F80ED;
}

.header__subtitle-link:hover {
    transition: 3s ease-out;
    opacity: 0.2;
}

.header__main-illustration {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    background-size: cover;
    background-image: url(../images/two_again.png);
    width: 765px;
    height: 608px;
}

.header__square-pic {
    position: absolute;
    right: 0px;
    top: 64px;
    height: 568px;
    width: 568px;
    background-color: #2F80ED;
    transform: rotate(-15deg);
    animation: rotation 20s infinite linear;
}

.header__logo {
    position: absolute;
    top: 30px;
    left: 64px;
}

.logo {
    background-image: url(../images/logo.svg);
    background-size: cover;
    width: 183px;
    height: 32px;
}

.logo_white {
    height: 35px;
    background-image: url(../images/logo_white.svg);
    background-position: 100% 100%;
}

.description {
    display: flex;
    justify-content: center;
}

.two-columns {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 70px;
    width: 80%;
    min-width: 784px;
}

.two-columns__body {
    min-width: 784px;
    width: 80%;
}

.two-columns__brief {
    min-width: 175px;
    max-width: 175px;
    line-height: 1.2;
    font-size: 18px;
    color: #2F80ED;
}

.two-columns__main-text {
    font-size: 24px;
    line-height: 34px;
}

.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    margin: 0 0 30px;
}

.conclusion {
    font-weight: bold;
}

.two-columns__span-bold {
    line-height: 34px;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-title {
    width: 60%;
    margin: 100px auto 0;
    text-align: center;
    font-size: 60px;
    line-height: 69px;
    font-weight: 700;
}

.section-subtitle {
    width: 60%;
    margin: 20px auto 0px;
    text-align: center;
    font-size: 24px;
    line-height: 34px;
}

.technics {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto 0px;
    width: 920px;
    justify-content: flex-start;
}

.cards__item {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 240px;
    margin: 0px;
    margin-right: 100px;
    margin-top: 60px;
}

.cards__image {
    display: flex;
    position: relative;
    align-self: center;
    top: 0px;
    width: 160px;
    height: 160px;
    margin-left: 40px;
    margin-right: 40px;
    overflow: hidden;
    border-radius: 100px;
}

.cards__title {
    margin-top: 43px;
    text-align: center;
}

.cards__description {
    margin-top: 16px;
    text-align: center;
}

.technics__cards_third {
    margin-right: 0px;
}

.video {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: -40px;
    align-items: center;
}

.video__title {
    position: relative;
    margin: 0px;
    margin-top: 100px;
    font-size: 60px;
    font-weight: bold;
    line-height: 1.15;
}

.video__subtitle {
    display: flex;
    position: relative;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    margin-top: 20px;
    width: 60%;
    justify-content: center;
}

.video__iframes {
    display: flex;
    position: relative;
    margin: 0px;
    margin-top: 50px;
    width: 1050px;
    justify-content: space-between;
    z-index: 3;
}

.video__iframe {
    display: box;
    position: relative;
    width: 515px;
    height: 316px;
    border: 0px;
}

.oakley {
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 160px;
    background-color: #f2f2f2;
}

.khan {
    display: flex;
    position: relative;
    background-color: #f2f2f2;
    justify-content: center;
    padding-top: 105px;
}

.khan__container {
    display: flex;
    position: relative;
    width: 80%;
    flex-direction: column;
}

.khan__author {
    display: flex;
    position: relative;
    line-height: 42px;
    font-weight: normal;
    font-size: 30px;
    margin: 0px;
}

.khan__title {
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    margin: 0px;
}

.khan__quote {
    display: flex;
    position: relative;
    margin: 0px;
    margin-bottom: 36px;
    margin-top: 50px;
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    width: 790px;
}

.khan__quote-author {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}

.khan__quote_author-subline {
    line-height: 1.15;
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    margin-top: 10px;
}

.khan__book-container {
    display: flex;
    position: relative;
    justify-content: flex-start;
    margin-top: 68px;
}

.khan__book-pic {
    width: 620px;
    height: 608px;
    overflow: hidden;
}

.khan__buy-link {
    display: flex;
    position: relative;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    margin-left: 20px;
    text-decoration: none;
    color: #2f80ed;
}

.khan__buy-link:hover {
    transition: 3s ease-out;
    opacity: 0.2;
}

.table {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px auto 100px;
    justify-content: space-between;
}

.table__cell {
    width: 250px;
    margin-top: 60px;
}

.table__heading {
    font-weight: 700;
    line-height: 1.15;
    font-size: 24px;
}

.table__text {
    font-weight: normal;
}

.table__text-paragraph {
    margin-top: 20px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

.feinman {
    position: relative;
    padding-top: 100px;
    background-color: #F2F2F2;
    height: 790px;
    background-image: url(../images/feinman.png);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: 867px 637px;
}

.feinman__title {
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
}

.feinman__subtitle {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    margin-top: 70px;
    text-align: center;
}

.feinman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: #1f1f1f;
}

.feinman__link:hover {
    transition: 3s ease-out;
    opacity: 0.2;
}

.kaufman {
    background-color: #1f1f1f;
    overflow: hidden;
    position: relative;
}

.kaufman__triangle {
    background-image: url(../images/triangle.svg);
    position: absolute;
    right: -210px;
    width: 877px;
    height: 877px;
    animation: rotation 20s infinite linear;
    background-size: 877px 877px;
}

.section-title_white {
    padding-top: 90px;
    color: white;
    margin-top: 0px;
}

.section-subtitle_white {
    color: white;
}

.table_white {
    background-color: #1f1f1f;
    margin: 0px auto;
    padding-bottom: 90px;
    z-index: 1;
}

.table__cell_white {
    width: 200px;
    margin-top: 80px;
    z-index: 1;
}

.table__heading_white {
    color: white;
    line-height: 1.15;
    font-size: 24px;
    font-weight: 700;
}

.table__text_white {
    color: white;
    margin-top: 20px;
    line-height: 1.2;
    font-size: 18px;
    margin-bottom: 0;
}

.resources {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 217px;
}

.resources__title {
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    z-index: 4;
}

.resources__subtitle {
    margin-top: 20px;
    line-height: 34px;
    font-size: 24px;
    margin-bottom: 0px;
    font-weight: normal;
}

.resources__logo-zone {
    width: 1100px;
    display: flex;
    position: relative;
    margin-top: 80px;
    margin-bottom: 0px;
    justify-content: space-between;
}

.resources__logo {
    display: flex;
    position: relative;
    width: 270px;
    height: 38px;
    justify-content: center;
}

.resources__logo:hover {
    transition: 3s ease-out;
    opacity: 0.2;
}

.footer {
    background-color: #1f1f1f;
    overflow: hidden;
    min-height: 350px;
    display: flex;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 90%;
    margin: 60px auto 40px;
}

.footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
    font-weight: 700;
}

.footer__column-links {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.footer__author {
    line-height: 25px;
    font-size: 18px;
    color: white;
    position: absolute;
    bottom: 18px;
}

.footer__column_copyright {
    display: flex;
    flex-direction: column;
    flex-basis: 711px;
    justify-content: space-between;
}

.footer__column_info {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.footer__social-icon {
    margin-right: 6px;
}

.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.footer__column-link:hover {
    transition: 3s ease-out;
    opacity: 0.2;
}