@media (min-width: 320px) and (max-width: 767px) {
    .author__avatar {
        width: 48px;
        height: 48px;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .author__avatar {
        width: 48px;
        height: 48px;
    }
}