/* @font-face {
    src: url('https://rsms.me/inter/inter.css');
    font-family: Inter;
} */
/* @font-face {
    src: local("Inter-Regular"), url("../fonts/Inter_woff/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter_woff/Inter-Regular.woff") format("woff"), url("../fonts/Inter_TTF/Inter-Regular.ttf") format("ttf");
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
} */
@import url('../styles/normalize.css');
@import url('../blocks/header/header.css');
@import url('../blocks/lead/lead.css');
@import url('../blocks/intro/intro.css');
@import url('../blocks/photo-grid/photo-grid.css');
@import url('../blocks/places/places.css');
@import url('../blocks/video/video.css');
@import url('../blocks/additional/additional.css');
@import url('../blocks/comments/comments.css');
@import url('../blocks/cover/cover.css');
@import url('../blocks/emblem/emblem.css');
@import url('../blocks/barentsburg/barentsburg.css');
@import url('../blocks/footer/footer.css');
.page {
    width: 1280px;
    height: 10226px;
    background: #2A2C2F;

}