@import url('../comments/__content-title/__content-title.css');
@import url('../comments/__content-subtitle/__content-subtitle.css');
@import url('../comments/__conteuner/__conteiner.css');
.comments {
    max-width: 1184px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 102px auto 0;
}