@import url('../comments/__content-title/__content-title.css');
@import url('../comments/__content-subtitle/__content-subtitle.css');
@import url('../comments/__conteuner/__conteiner.css');
.comments {
    position: absolute;
    width: 1184px;
    height: 594px;
    left: 48px;
    top: 7235px;
    display: flex;
    flex-direction: column;
    align-items: center;
}