@import url('../toCustomers/toCustomers__header/toCustomers__header.css');
@import url('../toCustomers/toCustomers__subtitle/toCustomers__subtitle.css');
@import url('../toCustomers/toCustomers__title/toCustomers__title.css');
.toCustomers {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #FFFFFF;
}

@media (min-width: 320px) and (max-width: 767px) {
    .toCustomers {
        height: max-content;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .toCustomers {
        height: max-content;
    }
}