@import url('../toCustomers/__header/__header.css');
@import url('../toCustomers/__subtitle/__subtitle.css');
@import url('../toCustomers/__title/__title.css');
.toCustomers {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #FFFFFF;
}

@media (min-width: 320px) and (max-width: 767px) {
    .toCustomers {
        height: max-content;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .toCustomers {
        height: max-content;
    }
}