@import url('./__author/commit-card__author.css');
@import url('./__date/commit-card__date.css');
@import url('./__text/commit-card__text.css');
.commit-card {
    display: flex;
    flex-direction: column;
    height: 288px;
    background: #FFFFFF;
    border-radius: 16px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .commit-card {
        height: 264px;
        width: 288px;
        margin-right: 16px;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .commit-card {
        height: 264px;
        margin-right: 16px;
        width: 336px;
    }
}